.iconContainer {
    display: flex;
    justify-content: space-around;
    margin-left: 3.8rem;
}

.social-icon {
    animation: rotate 4s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
